<div class="card mb-3 shadow-sm border-primary position-relative js-step-block{{ is_virtual is same as(true) ? ' is-virtual' : '' }}"
     id="step-{{ step_id }}-card"
     data-step-id="{{ step_id }}"
     data-position="{{ step_form.position.vars.value|default(0) }}">
    <div class="card-header d-flex align-items-center justify-content-between">
        <div>
            <span class="step-drag-handle"
                  style="cursor: grab;"><i class="material-icons">drag_indicator</i></span>
            <strong>Étape #{{ step_id }} <span x-text="$store.wizardData.getStep({{ step_id }}).label"></span></strong>
            <span class="badge badge-info{{ is_virtual is same as(true) ? ' d-inline-block' : ' d-none' }}">New</span>
        </div>
        <div>
            <span class="badge bg-primary js-badge-position">{% if step_iteration is defined and step_iteration matches '/^\\d+$/' %}{{ (step_iteration + 0) + 1 }}{% endif %}</span>
            <button class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#step-{{ step_id }}-body"
                    aria-expanded="true"
                    aria-controls="step-{{ step_id }}-body">
                <i class="material-icons">expand_more</i>
            </button>
        </div>
    </div>
    <div class="card-body collapse show"
         id="step-{{ step_id }}-body">
        {{ form_row(step_form.label, { attr: { 'x-model': '$store.wizardData.getStep(' ~ step_id ~ ').label' } }) }}
        {{ form_row(step_form.position, { attr: { 'x-model.number': '$store.wizardData.getStep(' ~ step_id ~ ').position' } }) }}
        {{ form_row(step_form.active, { attr: { 'x-model.boolean': '$store.wizardData.getStep(' ~ step_id ~ ').active' } }) }}
        <div class="text-right">
            <button type="button" class="btn btn-danger btn-sm" @click="removeStep({{ step_id }})"
                    title="Supprimer cette étape">Supprimer
            </button>
        </div>
        <hr>
        {% include '@Modules/drsoftfrproductwizard/views/templates/admin/configurator/form/partial/_product_choices_collection.html.twig' with { step_form, 'product_choices_form': step_form.productChoices, step_id, is_virtual  } %}
    </div>
</div>
