<div x-data="window.drsoftfrproductwizard.alpine.conditionManager({{ product_choice_form.displayConditions|length }}, {{ product_choice_id }}, {{ step_id }})"
     class="border p-2 rounded mb-2 bg-light mt-2">
    <div class="form-check">
        <input type="checkbox"
               class="form-check-input me-1"
               x-model="showConditions"
               id="step-{{ step_id }}__product-choice-{{ product_choice_id }}__conditions-collection-checkbox">
        <label for="step-{{ step_id }}__product-choice-{{ product_choice_id }}__conditions-collection-checkbox"
               class="form-check-label">Conditionner
            l’affichage de ce choix</label>
    </div>

    <template x-if="showConditions">
        <div class="mt-2">
            <div id="step-{{ step_id }}__product-choice-{{ product_choice_id }}__conditions-collection">
                {% for condition_form in product_choice_form.displayConditions %}
                    {% include '@Modules/drsoftfrproductwizard/views/templates/admin/configurator/_condition_form.html.twig'
                        with { step_form, condition_form, step_id, product_choice_id, 'condition_iteration': loop.index0 } %}
                {% endfor %}
            </div>
            <template id="step-{{ step_id }}__product-choice-{{ product_choice_id }}__condition-prototype">
                {% include '@Modules/drsoftfrproductwizard/views/templates/admin/configurator/_condition_form.html.twig'
                    with { step_form, 'condition_form': product_choice_form.displayConditions.vars.prototype, step_id, product_choice_id, 'condition_iteration': '__cond__' } %}
            </template>
            <button type="button"
                    class="btn btn-link btn-sm"
                    @click="addCondition">
                <i class="material-icons">add</i> Ajouter une condition
            </button>
        </div>
    </template>
</div>
