<div x-data="window.drsoftfrproductwizard.alpine.productChoiceManager({{ product_choices_form|length }}, '{{ step_id }}')"
     class="mb-2{{ is_virtual is same as(true) ? ' is-virtual' : '' }}"
     id="step-{{ step_id }}__product-choices-collection-card">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <h5 class="mb-2">Choix produits</h5>
        </div>
        <div>
            <button class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#step-{{ step_id }}__product-choices-collection-collapser"
                    aria-expanded="true"
                    aria-controls="step-{{ step_id }}__product-choices-collection-collapser">
                <i class="material-icons">expand_more</i> Gérer les choix
            </button>
        </div>
    </div>
    <div id="step-{{ step_id }}__product-choices-collection-collapser"
         class="collapse show">
        <div id="step-{{ step_id }}__product-choices-collection">
            {% for product_choice_form in product_choices_form %}
                {% include '@Modules/drsoftfrproductwizard/views/templates/admin/configurator/_product_choice_form.html.twig' with { step_form, product_choice_form, 'product_choice_id': product_choice_form.vars.value.id, 'product_choice_iteration': loop.index0, step_id, is_virtual } %}
            {% else %}
                <div class="alert alert-info">Aucun choix produit défini pour cette étape.</div>
            {% endfor %}
        </div>
        <template id="step-{{ step_id }}__product-choice-prototype">
            {% include '@Modules/drsoftfrproductwizard/views/templates/admin/configurator/_product_choice_form.html.twig' with { step_form, 'product_choice_form': product_choices_form.vars.prototype, 'product_choice_id': '__choice__', 'product_choice_iteration': '__choice__', step_id, 'is_virtual': true } %}
        </template>
        <button type="button"
                class="btn btn-outline-secondary btn-sm mt-1"
                @click="addProductChoice">
            <i class="material-icons">add</i> Ajouter un choix produit
        </button>
    </div>
</div>
