<div class="card mb-3 shadow-sm border-primary position-relative js-step-block"
     id="step-{{ idx }}-card">
    <div class="card-header d-flex align-items-center justify-content-between">
        <div>
            <span class="step-drag-handle"
                  style="cursor: grab;"><i class="material-icons">drag_indicator</i></span>
            <strong>Étape <span class="js-label"></span></strong>
        </div>
        <div>
            <span class="badge bg-primary">{% if idx is defined and idx matches '/^\\d+$/' %}{{ (idx + 0) + 1 }}{% endif %}</span>
            <button class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#step-{{ idx }}-body"
                    aria-expanded="true"
                    aria-controls="step-{{ idx }}-body">
                <i class="material-icons">expand_more</i>
            </button>
        </div>
    </div>
    <div class="card-body collapse show"
         id="step-{{ idx }}-body">
        {{ form_row(form.label) }}
        {{ form_row(form.position) }}
        {{ form_row(form.active) }}
        <div class="text-right">
            {{ form_widget(form.remove) }}
        </div>
        <hr>
        {% include '@Modules/drsoftfrproductwizard/views/templates/admin/configurator/_product_choices_collection.html.twig' with { 'form': form.productChoices, 'step_idx': idx } %}
    </div>
</div>
