<div class="card mt-3">
    <div class="card-body">
        <div>
            <p class="my-0 text-center">
                {{ 'Module:'|trans }} {{ module.name }} - v{{ module.version }}
                - {{ 'Author:'|trans }} {{ module.author }} -
                <a
                        href="mailto:{{ module.authorEmail }}">{{ module.authorEmail }}</a> -
                <a
                        href="{{ module.moduleGithubRepositoryUrl }}">{{ 'GitHub repository'|trans }}</a> -
                <a
                        href="{{ module.moduleGithubIssuesUrl }}">{{ 'Issues URL'|trans }}</a>
            </p>
        </div>
        <div class="text-center mt-3">
            <a href="https://www.drsoft.fr" target="_blank" rel="noopener noreferrer">
                <img alt="drSoft.fr"
                     height="44"
                     loading="lazy"
                     src="{{ asset('../modules/drsoftfrproductwizard/views/img/logo-dark-master.png') }}"
                     width="128">
            </a>
        </div>
    </div>
</div>
